{{ partial "header.html" . }}
<article class="h-entry">
<div class="header">
  <h1 class="p-name">{{ .Title }}</h1>
  <h2 class="p-summary">{{ .Description }}</h2>
</div>
<div class="content">

  {{ partial "post_meta.html" . }}

<div class="e-content">
  {{ .Content }}
</div>
  
  {{ partial "share.html" . }}

  {{ partial "prev_next_post.html" . }}
  
  {{ partial "commento.html" . }}
  
  {{ partial "disqus.html" . }}

  {{ partial "telegram.html" . }}

</div>
</article>

{{ partial "footer.html" . }}
