.header {
    font-family: "Helvetica", Arial, sans-serif
}

.header h2 {
    color: #999;
}

.header h2.quote {
    font-style: italic;
    font-size: 1.6em;
    margin-bottom: 0;
}  

.header h2.quote i.fas.fa-quote-left {
    vertical-align: text-top;
}

.header h2.quote i.fas.fa-quote-right {
    padding-left: 4px;
    vertical-align: text-bottom;
}

.fa-xs {
    font-size: .5em;
}

.header h3.from {
    font-style: italic;
    color: #999;
    font-size: .6em;
    margin-top: .5em;
}  

a {
    color: #2F9588;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
a:visited {
    color: #226B61;
}

.post-meta {
    font-size: 95%;
}

.date_style { 
    font-family: "Inconsolata", DejaVu Sans Mono, Andale Mono, Courier New, Courier, Helvetica, Arial, sans-serif;
}

h1 {
    line-height: 1.1em
}
h2 {
    line-height: 1.1em
}

div.content blockquote {
    font-size: 1.1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-left: 1em;
    border-left: 4px solid rgba(170,170,170,0.5);
}

code:not([class]) {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgb(50, 50, 50);
}

body {
    color: #666
}

/* for smaller screen */
@media (max-width: 38em) {
    .header h1 {
        font-size: 2em;
    }  
    .header h2.quote {
        font-size: 1.2em;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    code.hljs {
        font-size: .9em;
    }
    time :after {
        content: '\A';
        white-space: pre;
    }
    span.after_date {
        display: none;
    }
}
    
.content {
    max-width: 1000px;
}
