
#layout.active #menu {
    left: 160px;
    width: 160px;
}

#layout.active .menu-link {
    left: 160px;
}

#menu {
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu .brand {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: 0em;
    margin: 0.5em 0;  
}

#menu .pure-menu {
    font-size: 1.2em;
}

#menu .pure-menu ul.pure-menu-children {
    border-top: none;
}

a.pure-menu-link span {
    padding-left: 4px;
}

#menu a.small-print {
    padding: 0;
}

.copyright {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: .8em;
}

@media (min-width: 48em) {

    #layout {
        padding-left: 160px; /* left col width "#menu" */
    }
    #menu {
        left: 160px;
    }

    .menu-link {
        left: 160px;
    }

    #layout.active .menu-link {
        left: 160px;
    }
}

@media (max-width: 48em) {

    #layout.active {
        left: 160px;
    }
}
