{{ if or (.Prev) (.Next) }}
<div class="pagination pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    {{ if .Prev }}
    <nav>
      <a href="{{ .Prev.Permalink }}"><i class="fa fa-arrow-circle-left fa-fw fa-lg"></i>&nbsp;{{ .Prev.Title }}</a>
    </nav>
    {{ end }}
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    {{ if .Next }}
    <nav>
      <a href="{{ .Next.Permalink }}">{{ .Next.Title }}&nbsp;<i class="fa fa-arrow-circle-right fa-fw fa-lg"></i></a>
    </nav>
    {{ end }}
  </div>
</div>
{{ end }}