<div class="post-meta">

<div>
  <li>
    <i class="fa fa-calendar fa-fw"></i>
    <time>
      <span>
        {{ with .Site.Params.dateFormat }}
          {{ $.Date.Format . }}
        {{ else }}
          {{ .Date.Format "02 Jan 2006, 15:04" }}
        {{ end }}
      </span>
  </time>
  </li>
</div>

{{ if .Site.Params.ReadingTime }}
<div>
  <li>
    <i class="fas fa-clock fa-fw"></i>
    <span>
      {{ i18n "ReadingTime" .ReadingTime }}
    </span>
  </li>
</div>
{{ end }}

<div>
  {{ if isset .Params "topics" }}
    {{ $count := len .Params.topics }}
    {{ if gt $count 0 }}
        {{ range $k, $v := .Params.topics }}
        <a class="post-taxonomy-topic" href={{ "topics" | absLangURL }}/{{ $v | urlize }}> 
          <li>
            <i class="fas fa-folder fa-fw"></i>
            <span>{{ $v }}</span>
          </li>
        </a>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if isset .Params "tags" }}
    {{ $count := len .Params.tags }}
    {{ if gt $count 0 }}
      {{ range $k, $v := .Params.tags }}
      <a class="post-taxonomy-tag" href={{ "tags" | absLangURL }}/{{ $v | urlize }}>
        <li>
          <i class="fas fa-tag fa-fw"></i>
          <span>{{ $v }}</span>
        </li>
      </a>
      {{ end }}
    {{ end }}
  {{ end }}
</div>

</div>
