
<div class="pure-menu social">
    <ul class="pure-menu-list">

      {{ with .Site.Social.linkedin }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" rel="me external noopener" target="_blank"><i class="fab fa-linkedin fa-fw"></i><span>LinkedIn</span></a>
      </li>
      {{ end }}
  
      {{ with .Site.Social.github }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://github.com/{{ . }}" rel="me external noopener" target="_blank"><i class="fab fa-github fa-fw"></i><span>GitHub</span></a>
      </li>
      {{ end }}

      {{ with .Site.Social.leetcode }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://leetcode.com/{{ . }}" rel="me external noopener" target="_blank"><i class="fas fa-laptop-code fa-fw"></i><span>LeetCode</span></a>
      </li>
      {{ end }}

      {{ if .OutputFormats.Get "RSS" }}
      <li class="pure-menu-item">
        <a class="pure-menu-link" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'><i class="fa fa-rss fa-fw"></i><span>RSS</span></a>
      </li>
      {{ end }}

    </ul>
  </div>
