{{ partial "header.html" . }}

<div class="header">
  <h1>{{ T .Title }}</h1>
</div>
<div class="content">
  {{ range $key, $value := .Data.Terms.ByCount }}
  <h2>
    <i class="fas fa-folder fa-fw"></i>
    <a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a>
    <span>&#40;{{ $value.Count }}&#41;</span>
  </h2>
    <ul>
        {{ range $value.Pages }}
          <li>
            <time><span class="date_style">
              {{ .Date.Format "2006 Jan 02" }}
            </time></span>
            <span class="after_date"> - </span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>        
        {{ end }}
    </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
